@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>.NET Security Lab</h1>
    <p class="lead">An intentionally vulnerable ASP.NET web application designed to help application security specialists gain experience working with .NET applications.</p>
    <p><a href="https://github.com/james-otten/DotNetSecurityLab" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Deserialization</h2>
        <p>Experiment with several serialization libraries for .NET. Includes all of the JSON serialization libraries and sereral built in serializers for .NET used as examples in Alvaro Muñoz and Oleksandr Mirosh's presentation <a href="https://www.blackhat.com/us-17/briefings.html#friday-the-13th-json-attacks">Friday the 13th: JSON Attacks</a>.</p>
        <p><a class="btn btn-default" href="/Deserialization">Lab &raquo;</a></p>
    </div>
    <div class="col-md-12">
        <h2>XML Parsing</h2>
        <p>Experiment with some of the XML parsing classes available in .NET. Try to read files and make network requests via XXE.</p>
        <p><a class="btn btn-default" href="/Xml">Lab &raquo;</a></p>
    </div>
</div>
