@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>.NET Security Lab</h1>
    <p class="lead">An intentionally vulnerable ASP.NET web application designed to help application security specialists gain experience working with .NET applications.</p>
    <p><a href="https://github.com/james-otten/DotNetSecurityLab" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @*<div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>*@
    <div class="col-md-12">
        <h2>JSON Deserialization</h2>
        <p>Experiment with several JSON serialization libraries for .NET. Includes all of the JSON serialization libraries for .NET used as examples in Alvaro Muñoz and Oleksandr Mirosh's presentation <a href="https://www.blackhat.com/us-17/briefings.html#friday-the-13th-json-attacks">Friday the 13th: JSON Attacks</a>.</p>
        <p><a class="btn btn-default" href="/Json">Lab &raquo;</a></p>
    </div>
</div>
